<h2 style="font-family: cursive;">Por cita</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- SEARCH BOX-->
    <button style="font-family: Cursive;" class="btn mx-2"
      [ngClass]="{'btn-outline-primary': selectedExamen === citas}"
      *ngFor="let citas of citas" (click)="selectedExamen = citas; searchByTipoOrden()">{{citas}}
    </button>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Tabla por Resultados-->
    <resultados-table style="font-family: cursive;" [resultados]="resultados"></resultados-table>
  </div>
</div>

