<h2 style="font-family: cursive; " >&nbsp;&nbsp;&nbsp;&nbsp;Resultados</h2>
<hr>
<ul class="list-group" >
  <li routerLink="resultados/by-cita" style="font-family: cursive;" routerLinkActive="active" class="list-group-item list-group-item-success">Por cita</li>
  <li routerLink="resultados/by-emergencia" style="font-family: cursive;" routerLinkActive="active" class="list-group-item list-group-item-success">Por emergencia</li>
  <li routerLink="resultados/by-rutina" style="font-family: cursive;" routerLinkActive="active" class="list-group-item list-group-item-success">Por rutina</li>
  <p></p>
  
</ul>



