<div>
  <button class="openEditar" (click)="abrirFormulario()">Editar</button>
</div>

<div class="formulario" *ngIf="mostrarFormulario">
  <h3>Editar Resultado</h3>
  <form>
    <div>
      <label for="resultado">Resultado:</label>
      <input
        type="text"
        id="resultado"
        name="resultado"
        [(ngModel)]="resultadoModificado.resultado"
        [ngClass]="{'red-background': impreso === 1, 'green-background': impreso === 2}"
        required
      />
    </div>
    <div>
      <label for="observaciones">Observaciones:</label>
      <textarea
        id="observaciones"
        name="observaciones"
        [(ngModel)]="resultadoModificado.observaciones"
        [ngClass]="{'red-background': impreso === 1, 'green-background': impreso === 2}"
      ></textarea>
    </div>

    <div class="button-container">
      <button class="btn btn-danger" [ngClass]="{'active': impreso === 1}" (click)="handleButtonClick(1)">
        &#10006;
      </button>
      <button class="btn btn-success" [ngClass]="{'active': impreso === 2}" (click)="handleButtonClick(2)">
        &#10004;
      </button>
    </div>

    <div class="button-container">
      <button type="button" class="save-button" (click)="guardarCambios()">Guardar</button>
      <button type="button" class="cancel-button" (click)="cancelarEdicion()">Cancelar</button>
    </div>

  </form>
</div>
