<div>
  <button class="openEditar" style="background-color: rgb(25, 184, 233);" (click)="abrirFormulario()">Editar</button>
</div>

<div class="formulario" *ngIf="mostrarFormulario">
  <h3>Editar Resultado</h3>
  <form (ngSubmit)="actualizarResultado()">
    <div>
      <label for="resultado">Resultado:</label>
      <input type="text" id="resultado" name="resultado" [(ngModel)]="resultadoModificado.resultado" required>
    </div>
    <div>
      <label for="observaciones">Observaciones:</label>
      <textarea id="observaciones" name="observaciones" [(ngModel)]="resultadoModificado.observaciones"></textarea>
    </div>
    <button type="submit">Guardar</button>
    <button type="button" (click)="cancelarEdicion()">Cancelar</button>

    <div class="button-container">
      <button
        class="btn btn-danger"
        style="background-color: red; border: none; box-shadow: none; margin-right: 5px;"
        
      >
      <!-- (click)="handleButtonClick(opcion, 'red')" -->
        &#10006;
      </button>
      <button
        class="btn btn-success"
        style="background-color: green; border: none; box-shadow: none;"
        
      >
      <!-- (click)="handleButtonClick(opcion, 'green')" -->
        &#10004;
      </button>
    </div>

  </form>
</div>