.openEditar {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: rgb(25, 184, 233);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario {
  margin-top: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div,
label {
  margin-bottom: 10px;
}

input[type="text"],
textarea {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button[type="button"],
button[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container {
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.active {
  background-color: #333;
}

.btn-danger {
  background-color: red;
}

.btn-success {
  background-color: green;
}

textarea {
  resize: vertical;
}

textarea[required] {
  border-color: #ff5252;
}

textarea:focus,
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 3px #00bcd4;
}

.red-background {
  background-color: rgba(255, 0, 0, 0.1);
}

.green-background {
  background-color: rgba(0, 255, 0, 0.1);
}

.save-button {
  background-color: #007bff;
}

.cancel-button {
  background-color: #6c757d;
}

.save-button:hover,
.cancel-button:hover {
  background-color: #0056b3;
}
