<h2 style="font-family: Comic Sans;">Por emergencia</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- SEARCH BOX-->
   <button style="font-family: Roman;" class="btn mx-2" [ngClass]="{'btn-outline-primary':selectedEmergencia===emergencias}"
    *ngFor="let emergencias of emergencias" (click)="searchByTipoOrden()" >{{emergencias}}</button>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col"> 
    <!-- Tabla por Resultados-->
   <resultados-table style="font-family: cursive;" [resultados]="resultados"></resultados-table>
  </div>
</div> 
