<div class="validate-button-container">
  <button type="button" class="validarBtn btn btn-primary">Validar orden</button>

  <div class="validation-form" style="background-color:rgb(202, 234, 241);">
    <div class="form-group">
      <label>Fecha</label>
      <input type="date" [(ngModel)]="fechaValida" class="form-control" id="fecha-input">
    </div>

    <div class="form-group" style="font-family: Cursive;">
      <label>Orden</label>
      <select [(ngModel)]="idOrdenSeleccionada" (ngModelChange)="verificarOrdenesValidadas()">
        <option value="null">Seleccione..</option>
        <option
          *ngFor="let ordenDetalle of ordenesDetalle"
          [value]="ordenDetalle.idOrden"
          [disabled]="!tieneTodosLosExamenesConResultados(ordenDetalle.idOrden)"
          [selected]="ordenesConResultados.includes(ordenDetalle.idOrden)"
        >
          {{ ordenDetalle.idOrden }}
        </option>
      </select>
    </div>

    <div class="button-group" >
      <ng-container *ngIf="idOrdenSeleccionada && tieneTodosLosExamenesConResultados(idOrdenSeleccionada)">
        <button *ngIf="!ordenValidada && !mostrarFormularioValidacion" (click)="validarOrden(idOrdenSeleccionada!)">
          Validar
        </button>
        <button *ngIf="ordenValidada && !mostrarFormularioValidacion" (click)="cancelarValidacion(idOrdenSeleccionada!)">
          Cancelar Validación
        </button>
      </ng-container>
    </div>

    <div *ngIf="mostrarFormularioValidacion">
      <div class="form-group">
        <label>Usuario</label>
        <select [(ngModel)]="idUsuarioSeleccionado" (change)="seleccionarUsuario()" class="form-control">
          <option value="">Selecciona un usuario</option>
          <option *ngFor="let usuario of usuarios" [value]="usuario.idUsuario">{{ usuario.login }}</option>
        </select>
      </div>
      <button (click)="cancelarValidacionPorUsuario()">Cancelar Validación</button>
    </div>

  </div>
</div>



