<div class="validate-button-container">
  <button type="button"  class="validarBtn btn btn-primary">Validar orden</button>

  <div class="validation-form">
    <div class="form-group">
      <label>Fecha</label>
      <input type="date" class="form-control" id="fecha-input">
    </div>

    <div class="form-group">
      <label>Orden</label>
      <select [(ngModel)]="idOrdenSeleccionada">
        <option value="null">Seleccione..</option>
        <option *ngFor="let ordenDetalle of ordenesDetalle" [value]="ordenDetalle.idOrden" [disabled]="!tieneTodosLosExamenesConResultados(ordenDetalle.idOrden)">
          {{ ordenDetalle.idOrden }}
        </option>
      </select>
    </div>

    <div class="button-group">
      <button type="submit" class="save-validation-button">Guardar Validación</button>
      <button type="button" class="cancel-validation-button" (click)="cancelarValidacion()">Cancelar</button>
    </div>
  </div>
</div>