<div class="validate-button-container">
  <button type="button" class="validarBtn btn btn-primary">Validar orden</button>

  <div class="validation-form">
    <div class="form-group">
      <label>Fecha</label>
      <input type="date" [(ngModel)]="fechaValida"class="form-control" id="fecha-input">
    </div>

    <div class="form-group">
      <label>Orden</label>
      <select [(ngModel)]="idOrdenSeleccionada" (ngModelChange)="verificarOrdenesValidadas()">
        <option value="null">Seleccione..</option>
        <option
          *ngFor="let ordenDetalle of ordenesDetalle"
          [value]="ordenDetalle.idOrden"
          [disabled]="!tieneTodosLosExamenesConResultados(ordenDetalle.idOrden)"
          [selected]="ordenesConResultados.includes(ordenDetalle.idOrden)"
        >
          {{ ordenDetalle.idOrden }}
        </option>
      </select>
    </div>

    <div class="button-group">
      <ng-container *ngIf="idOrdenSeleccionada && tieneTodosLosExamenesConResultados(idOrdenSeleccionada)">
        <button *ngIf="!ordenValidada && !mostrarFormularioValidacion" (click)="validarOrden(idOrdenSeleccionada!)">
          Validar
        </button>
        <button *ngIf="ordenValidada && !mostrarFormularioValidacion" (click)="cancelarValidacion(idOrdenSeleccionada!)">
          Cancelar Validación
        </button>
      </ng-container>
      
    </div>
  </div>
</div>  



