<style>
  .popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup.show {
    display: block;
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 600px;
  }
  
  .popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .popup-close:hover,
  .popup-close:focus {
    color: red;
  }
  
  </style>
  
  <div *ngIf="resultados.length === 0; else table" class="alert alert-warning">
    No hay resultados
  </div>
  
  <ng-template #table>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>N-Orden</th>
          <th>Exámen</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resultado of resultados; let i = index" (click)="mostrarPopup(resultado)">
          <td>{{ i + 1 }}</td>
          <td>{{ resultado.idResultados }}</td>
          <td>{{ obtenerNOrden(resultado.idOrden) }}</td>
          <td>{{ obtenerDescripcionCortaExamen(resultado.idExamen) }}</td>
          <td>{{ resultado.resultado }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
  
  <div class="popup" [class.show]="showPopup">
    <div class="popup-content">
      <span class="popup-close" (click)="cerrarPopup($event)">&times;</span>
  
      <h2>Datos de la fila seleccionada</h2>
      <p><strong>Id Resultado:</strong> {{ popupData?.idResultados }}</p>
      <p><strong>N_Orden:</strong> {{ obtenerNOrden(popupData?.idOrden || 0) }}</p>
      <p><strong>Examen:</strong> {{ obtenerDescripcionCortaExamen(popupData?.idExamen || 0) }}</p>
      <p><strong>Resultado:</strong> {{ popupData?.resultado }}</p>
      <p><strong>Fecha de Procesamiento:</strong> {{ popupData?.fechaProcesa | date: 'yyyy-MM-dd' }}</p>
      <p><strong>validado:</strong> {{ popupData?.validado }}</p>
      <p><strong>Fecha de Validacion:</strong> {{ popupData?.fechaValida | date: 'yyyy-MM-dd' }}</p>
      <p><strong>Usuario Procesa:</strong> {{ popupData?.idUsuarioProcesa }}</p>
      <p><strong>Usuario Valida:</strong> {{ popupData?.idUsuarioValida }}</p>
      <button class ="openEditar">Editar</button>
      <button id="btnEliminar"onclick="">Eliminar</button>
      <!-- Agrega aquí los demás datos que deseas mostrar -->
    </div>
  </div>




