<h2>Por tipo de orden</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- SEARCH BOX-->
   <button class="btn mx-2" [ngClass]="{'btn-outline-primary':selectedTipoOrden===tipoordeness}"
    *ngFor="let tipoordeness of tipoordeness" (click)="searchByTipoOrden(tipoordeness)" >{{tipoordeness}}</button>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col"> 
    <!-- Tabla por Resultados-->
   <resultados-table [resultados]="resultados"></resultados-table>
  </div>
</div> 


